.backScreen {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  .screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    &.active {
      z-index: -4;
    }
  }
  .shutter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
    z-index: 0;
    &.shut {
      background-color: black;
    }
  }
}