:root {
  --header-height: 60px;
}
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80vh;
  padding-block-start: env(safe-area-inset-top);
  z-index: 200;
  transition: backdrop-filter .3s ease-in-out, background-color .15s ease-in;
  &.blackback {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: #b4b4b412;
    //background-color: #dddddd12;
    .bottomLines {
      opacity: 0;
    }
  }
  .descTextField{
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    width: 100vw;
    pointer-events: none;
    clip-path: polygon(0 var(--header-logo-bottom-y), 100vw var(--header-logo-bottom-y), 100vw calc(var(--header-logo-bottom-y) + 6em), 0 calc(var(--header-logo-bottom-y) + 6em));
    .descText {
      position: absolute;
      left: 0;
      right: 0;
      width: 80vw;
      margin: auto;
      //font-family: Arial, Helvetica, sans-serif;
      // font-family: 'Josefin Sans';
      font-size: min(max(1.2em, 4vw), 1.7em);
      //font-size: min(max(1.1em, 3vw), 1.6em);
      text-align: center;
      color: white;
    }
  }
}
